{% extends 'base.html.twig' %}

{% block title %}{{ "cart.added" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "cart.added" | trans }}</h1>

    {{ include('cart/_form.html.twig') }}

    <a href="{{ path('cart_index') }}">{{ "Back to list" | trans }}</a>
{% endblock %}
