{% extends 'base.html.twig' %}

{% block title %}{{ "contentCart.update" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "contentCart.update" | trans }}</h1>

    {{ include('content_cart/_form.html.twig', {'button_label': 'Update' | trans}) }}

    <a href="{{ path('content_cart_index') }}">{{ "Back to list" | trans }}</a>

    {{ include('content_cart/_delete_form.html.twig') }}
{% endblock %}
