{% extends 'base.html.twig' %}

{% block title %}{{ "My cart" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "My cart" | trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ "ID" | trans }}</th>
                <th>{{ "Quantity" | trans }}</th>
                <th>{{ "Price" | trans }}</th>
                <th>{{ "Montant" | trans }}</th>
                <th>{{ "Added the" | trans }}</th>
                <th>{{ "actions" | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for content_cart in content_carts %}
            {% set total = total + content_cart.productQty * content_cart.product.price %}
            <tr>
                <td>{{ content_cart.product.name }}</td>
                <td>{{ content_cart.productQty }}</td>
                <td>{{ content_cart.product.price }}</td>
                <td>{{ content_cart.productQty * content_cart.product.price }}</td>
                <td>{{ content_cart.addToCartDate ? content_cart.addToCartDate|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('content_cart_show', {'id': content_cart.id}) }}" class="btn btn-success">{{ "show" | trans }}</a>
                    {# <a href="{{ path('content_cart_edit', {'id': content_cart.id}) }}">{{ "edit" | trans }}</a> #}
                    {# <a href="{{ path('product_cart_delete', {'id': content_cart.id}) }}" class="btn btn-danger">{{ "delete" | trans }}</a> #}
                   <span style="display:inline-block"> {{ include('content_cart/_delete_form.html.twig') }}</span>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ "contentCart.empty" | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('content_cart_new') }}">Create new</a> #}
    <p>Montant total du panier: {{total}} </p>
    <a class="btn btn-primary">Valider</a>
{% endblock %}
