{% extends 'base.html.twig' %}

{% block title %}{{ "My cart" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "My cart" | trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ "ID" | trans }}</th>
                <th>{{ "Quantity" | trans }}</th>
                <th>{{ "Amount" | trans }}</th>
                <th>{{ "Added the" | trans }}</th>
                <th>{{ "actions" | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% set id = null %}
        {% for content_cart in content_carts %}
            {% set total = total + content_cart.productQty * content_cart.product.price %}
            {% set id = content_cart.cart.id %}
            <tr>
                <td>{{ content_cart.product.name }}</td>
                <td>
                    {{ content_cart.productQty }}
                </td>
                <td>{{ content_cart.productQty * content_cart.product.price }}</td>
                <td>{{ content_cart.addToCartDate ? content_cart.addToCartDate|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('content_cart_show', {'id': content_cart.id}) }}" class="btn btn-success">{{ "show" | trans }}</a>
                    {# <a href="{{ path('content_cart_edit', {'id': content_cart.id}) }}">{{ "edit" | trans }}</a> #}
                    {# <a href="{{ path('product_cart_delete', {'id': content_cart.id}) }}" class="btn btn-danger">{{ "delete" | trans }}</a> #}
                   <span style="display:inline-block"> {{ include('content_cart/_delete_form.html.twig') }}</span>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ "contentCart.empty" | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('content_cart_new') }}">Create new</a> #}
    <p>{{ "Total amount" | trans }}: {{total}} €</p>
    <form method="post" action="{{ path('content_cart_buy', {'id': id}) }}" onsubmit="return confirm('{{ "contentCart.allBuy?" | trans }}');">
        <input type="hidden" name="_token" value="{{ csrf_token('buy' ~ id) }}">
        <button class="btn btn-primary">{{ "Buy in" | trans }}</button>
    </form>
{% endblock %}
