<table class="table">
    <thead>
        <tr>
            <th>{{ "ID" | trans }}</th>
            <th>{{ "Name" | trans }}</th>
            <th>{{ "Description" | trans }}</th>
            <th>{{ "Price" | trans }}</th>
            <th>{{ "Stock" | trans }}</th>
            <th>{{ "Image" | trans }}</th>
            <th>{{ "actions" | trans}}</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>
                {% if product.image is not null %}
                <img src="{{ '/uploads/' ~ product.image }}" alt="{{ product.name }}" width="80">
                {% endif %}
            </td>
            <td>
                <a href="{{ path('product_show', {'id': product.id}) }}">{{ "show" | trans }}</a>
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('product_edit', {'id': product.id}) }}">{{ "edit" | trans }}</a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">{{ "product.empty" | trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if is_granted("ROLE_USER") %}
    <a href="{{ path('product_new') }}">{{ "product.added" | trans }}</a>
{% endif %}
