{% extends 'base.html.twig' %}

{% block title %}{{ "product.update" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "product.update" | trans }}</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update' | trans }) }}

    <a href="{{ path('product_index') }}">{{ "Back to list" | trans }}</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
