{% extends 'base.html.twig' %}

{% block title %}{{ "product.new" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "product.added" | trans }}</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('product_index') }}">{{ "Back to list" | trans }}</a>
{% endblock %}
