{% extends 'base.html.twig' %}

{% block title %}{{ "Product" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Product" | trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ "ID" | trans }}</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>{{ "Name" | trans }}</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>{{ "Description" | trans }}</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>{{ "Price" | trans }}</th>
                <td>{{ product.price }} €</td>
            </tr>
            <tr>
                <th>{{ "Stock" | trans }}</th>
                <td>{{ product.stock }}</td>
            </tr>
            <tr>
                <th>{{ "Image" | trans }}</th>
                <td>{{ product.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}">{{ "Back to list" | trans }}</a>

    {# {{ dump(cart) }} #}
    {% if app.user is not null %}
        <a href="{{ path('content_cart_add', {'id': product.id}) }}">{{ "Add to cart" | trans }}</a>
    {% endif %}

    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('product_edit', {'id': product.id}) }}">{{ "edit" | trans }}</a>

        {{ include('product/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
