{% extends 'base.html.twig' %}

{% block title %}{{ "user.new" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "user.added" | trans }}</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">{{ "Back to list" | trans }}</a>
{% endblock %}
